#java specific
*.class
*.apk
*.ap_
*.dex

## generic files to ignore
~
.lock
.DS_Store
.swp
.out

## binaries
*.lock
*.DS_Store
*.swp
*.out

## binaries
bin/
gen/

## properties
local.properties
default.properties