<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.etsmtl.applets.etsmobile"
    android:versionCode="5"
    android:versionName="1.8" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <permission
        android:name="ca.etsmtl.applets.etsmobile.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ca.etsmtl.applets.etsmobile.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="ETSMobileApp"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAwuf0_BLRGaBrYlYs6vcbarI2wiC7WSWQ" />

        <receiver android:name="ca.etsmtl.applets.etsmobile.receivers.NewsAlarmReceiver" />

        <service android:name=".services.NewsService" />
        <service android:name=".services.BottinService" />

        <provider
            android:name=".providers.ETSMobileContentProvider"
            android:authorities="ca.etsmtl.applets.etsmobile.data"
            android:exported="false" >
        </provider>

        <activity
            android:name=".ETSMobileActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsListActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".preferences.NewsListPreferences"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".SingleNewsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".CoopActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScheduleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScheduleWeekActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".BottinListActivity" />
        <activity android:name=".ScheduleDetailActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".BottinViewActivity" />
        <activity android:name=".BibliothequeActivity" />
        <activity android:name=".SecurityActivity" />
        <activity android:name=".UrgenceActivity" />
        <activity android:name=".MyCourseSessionActivity" />
        <activity android:name=".MyCourseDetailActivity" />
        <activity android:name=".MyCourseListActivity" />
        <activity android:name=".ETSMobileEmplActivity" />
        <activity
            android:name=".EmailWebView"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".ContactAdder" />
    </application>

</manifest>